# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xcode files
CGP.xcworkspace/
*.xcodeproj/

# Non-ex files
*/include/
xcode-template/
Tutorial1/
Resources/
*/bin/
*.zip

# custom non-git folders
nogit/
Ex3/src/assets/simonship/simonship.jpg

Ex3/src/assets/simonship/simonship.mtl

Ex3/src/assets/simonship/simonship.obj

*.mov
*.tgz
FinalProjectPresentation
